<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="src/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="src/css/element-ui.min.css">
  <link rel="stylesheet" type="text/css" href="src/css/main.css">
</head>
<body>
  <div id="colorful-app">
    <div class="colorful logo">
      <a id="colorful_a" class="logo-a"></a>
      <span class="title-span">COLORFUL!</span>
      <div class="title-setting">
        <el-button type="text" @click="settingChangePlan" size="small">更改方案</el-button>
        <el-button type="text" @click="settingAllDefault" size="small">恢复默认</el-button>
      </div>
    </div>
    <div class="colorful main">
      <el-collapse v-model="settingOptions.collapseActiveName" accordion class="colorful">
        <el-collapse-item name="0">
          <template slot="title">
            <i class="collapse-title el-icon-news"></i>
            <span class="collapse-title">色彩调整</span>
          </template>
          <div class="colorful color-ctl">
            <div class="label">起始颜色</div>
            <el-color-picker v-model="colorOptions.colorStart" size="small"></el-color-picker>
            <el-input v-model="colorOptions.colorStart" size="small" clearable></el-input>
          </div>
          <div class="colorful color-ctl">
            <div class="label">结束颜色</div>
            <el-color-picker v-model="colorOptions.colorEnd" size="small"></el-color-picker>
            <el-input v-model="colorOptions.colorEnd" size="small" clearable></el-input>
          </div>
          <div class="colorful color-ctl">
            <div class="label">色彩效果</div>
            <el-select v-model="colorOptions.colorMode" size="small" placeholder="请选择色彩效果">
              <el-option v-for="item in colorModes" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
          </div>
        </el-collapse-item>
        <el-collapse-item name="1">
          <template slot="title">
            <i class="collapse-title el-icon-edit"></i>
            <span class="collapse-title">文本样式</span>
          </template>
          <div class="colorful color-ctl">
            <div class="label">文字效果</div>
            <el-select v-model="colorOptions.colorTextMode" size="small" placeholder="请选择文字效果">
              <el-option v-for="item in colorTextModes" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
          </div>
          <div class="colorful color-ctl" v-show="colorOptions.colorTextMode == 1">
            <div class="label">残影行数</div>
            <el-input-number v-model="fontOptions.line" :min="2" :max="999" label="残影行数" size="small" controls-position="right"></el-input-number>
          </div>
          <div class="colorful color-ctl">
            <div class="label">字体大小</div>
            <el-select v-model="fontOptions.size" size="small" placeholder="请选择字体大小">
              <el-option v-for="item in 7" :key="item" :label="item" :value="item"></el-option>
            </el-select>
          </div>
          <div class="colorful color-ctl">
            <div class="label">对齐方向</div>
            <div class="checkbox">
              <el-radio-group v-model="fontOptions.align" size="small">
                <el-radio-button label="left">左对齐</el-radio-button>
                <el-radio-button label="center">居中对齐</el-radio-button>
                <el-radio-button label="right">右对齐</el-radio-button>
              </el-radio-group>
            </div>
          </div>
          <div class="colorful color-ctl">
            <div class="label">字体属性</div>
            <div class="checkbox">
              <el-checkbox v-model="fontOptions.b">加粗</el-checkbox>
              <el-checkbox v-model="fontOptions.i">倾斜</el-checkbox>
              <el-checkbox v-model="fontOptions.u">下划线</el-checkbox>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
      <el-input type="textarea" placeholder="请输入文本" v-model="colorText" rows="4" style="margin-bottom: 16px"></el-input>
      <div class="view-text" :style="{ textAlign: fontOptions.align }">
        <el-button type="text" @click="isViewTextCode = isViewTextCode ? false : true">查看代码</el-button>
        <font v-if="colorOptions.colorTextMode == 0" :size="fontOptions.size" :style="{ textAlign: fontOptions.align, fontWeight: fontOptions.b ? '600' : 'normal', fontStyle: fontOptions.i ? 'italic' : 'normal', textDecoration: fontOptions.u ? 'underline' : 'none' }">
          <font v-for="text in colorTextComputed.html" :color="text.colorHex">{{ text.text }}</font>
        </font>
        <font v-if="colorOptions.colorTextMode == 1" :size="fontOptions.size" :style="{ textAlign: fontOptions.align, fontWeight: fontOptions.b ? '600' : 'normal', fontStyle: fontOptions.i ? 'italic' : 'normal', textDecoration: fontOptions.u ? 'underline' : 'none' }" style="display: block; margin: 16px 0">
          <p v-for="line in fontOptions.line" style="margin: 0; line-height: 3px">
            <font v-for="text in colorTextComputed.html" :color="text.colorHex">{{ text.text }}</font>
          </p>
        </font>
        <span style="display: none">{{ colorTextView }}</span>
      </div>
      <p class="colorful error-alert" v-show="isError">
        <span>
          <i class="el-icon-warning" style="margin-right: 2px"></i>
          {{ errorMsg }}
        </span>
      </p>
    </div>
    <div class="colorful menubar">
      <el-button type="primary" @click="postTextToTextarea" :disabled="isError">应用样式到所选文本</el-button>
    </div>
  <div>
  <el-dialog title="更改方案" :visible.sync="isViewChangePlan" class="u-dag plan" :append-to-body="true" fullscreen>
    <div class="colorful color-ctl dialog">
      <div class="label">方案选择</div>
      <el-select v-model="settingOptions.plan.isActive" size="small" placeholder="请选择方案">
        <el-option v-for="item in settingOptions.plan.plans" :key="item.value" :label="item.label" :value="item.value"></el-option>
      </el-select>
    </div>
    <div class="colorful color-ctl dialog">
      <div class="label">方案操作</div>
      <div class="checkbox buttons">
        <el-button type="primary" @click="planAdd" size="mini" plain>添加方案</el-button>
        <el-button type="danger" @click="planDel" size="mini" plain>删除方案</el-button>
        <el-button type="warning" @click="planRename" size="mini" plain>重命名</el-button>
      </div>
    </div>
  </el-dialog>
  <el-dialog title="查看代码" :visible.sync="isViewTextCode" class="u-dag" :append-to-body="true" fullscreen>
    <el-input type="textarea" v-model="colorTextComputed.discuz" rows="11" readonly="true"></el-input>
    <p class="length-tips">
      代码长度 
      <span :style="{ color: colorTextComputed.discuz.length > 1000000 ? '#F56C6C' : '#409EFF' }">{{ colorTextComputed.discuz.length }}</span>
      字节，最大长度 
      <span>1000000</span>
      字节 
    </p>
    <div class="colorful menubar">
      <el-button type="primary" v-clipboard:copy="colorTextComputed.discuz" v-clipboard:success="copySuccess" v-clipboard:error="copyError">复制到剪贴板</el-button>
    </div>
  </el-dialog>
  <script src="src/js/vue.min.js"></script>
  <script src="src/js/vue-clipboard.min.js"></script>
  <script src="src/js/element-ui.min.js"></script>
  <script src="src/js/main.js"></script>
</body>
</html>